services:
  dynamodb-local:
    image: amazon/dynamodb-local:latest
    command: "-jar DynamoDBLocal.jar -sharedDb -inMemory"
    ports:
      - "8000:8000"

  dynamodb-init:
    image: amazon/aws-cli:latest
    environment:
      AWS_ACCESS_KEY_ID: local
      AWS_SECRET_ACCESS_KEY: local
      AWS_DEFAULT_REGION: ap-southeast-1
    entrypoint: ["/bin/sh", "-c"]
    command:
      - |
        echo 'Waiting for DynamoDB Local...'
        sleep 10
        echo 'Creating TodoItems table...'
        aws dynamodb create-table \
          --table-name TodoItems \
          --attribute-definitions AttributeName=id,AttributeType=S \
          --key-schema AttributeName=id,KeyType=HASH \
          --billing-mode PAY_PER_REQUEST \
          --endpoint-url http://dynamodb-local:8000 \
          --region ap-southeast-1
        echo 'Table created successfully!'
    depends_on:
      - dynamodb-local

  todo-write-service:
    build: ./todo-write-service
    ports:
      - "3002:3002"
    environment:
      DYNAMODB_TABLE: TodoItems
      AWS_REGION: ap-southeast-1
      AWS_ACCESS_KEY_ID: local
      AWS_SECRET_ACCESS_KEY: local
      AWS_ENDPOINT_URL: http://dynamodb-local:8000
    depends_on:
      dynamodb-init:
        condition: service_completed_successfully

  todo-read-service:
    build: ./todo-read-service
    ports:
      - "3001:3001"
    environment:
      DYNAMODB_TABLE: TodoItems
      AWS_REGION: ap-southeast-1
      AWS_ACCESS_KEY_ID: local
      AWS_SECRET_ACCESS_KEY: local
      AWS_ENDPOINT_URL: http://dynamodb-local:8000
    depends_on:
      dynamodb-init:
        condition: service_completed_successfully

  frontend-service:
    build: ./frontend-service
    ports:
      - "3000:3000"
    environment:
      READ_SERVICE_URL: http://todo-read-service:3001
      WRITE_SERVICE_URL: http://todo-write-service:3002
    depends_on:
      - todo-read-service
      - todo-write-service
